# =========================
# Gradle
# =========================
.gradle/
build/
*/build/

# =========================
# Local configuration
# =========================
local.properties

# =========================
# Logs / OS files
# =========================
*.log
.DS_Store

# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml

# Specific IDE files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Optional generated IDE files
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# =========================
# Android build outputs
# =========================
captures/
.externalNativeBuild/
.cxx/

*.apk
*.aab
output-metadata.json

# =========================
# Signing / Keystore files
# =========================
*.jks
*.keystore

# =========================
# Google Services
# =========================
google-services.json

# =========================
# Android Profiling
# =========================
*.hprof